*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-areas:
    "menu"
    "filter"
    "products"
    "footer";
}

/* layout grid */

#menu{
    grid-area: menu;
    background-color: #1c3166;
    min-height: 10vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter{
    grid-area: filter;
    background-color: #40ffdc;
    min-height: 15vh;
    color: white;
}

#products{
    grid-area: products;
    background-color: white;
    min-height: 65vh;
    color: white;
}

#footer{
    grid-area: footer;
    background-color: #1c3166;
    min-height: 10vh;
    color: white;
}

.menu .menu-title{
    font-size: 30px;
    margin-left: 30px;
}

.menu .menu-burger{
    font-size: 30px;
    margin-right: 30px;
}